<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Admin Dashboard, ModaLda">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="shortcut icon" href="/static/img/icons/icon-48x48.png"/>

    <title>Criar Movimento | ModaLda </title>

   <link href="/static/css/dashboard.css" rel="stylesheet">
    <link href="https://cdn.datatables.net/1.13.7/css/jquery.dataTables.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap" rel="stylesheet">
</head>

{% extends 'sidebar.html' %}
{% block content %}
    <div class="row">
        <h1 class="h3 mb-3">Criar Movimento</h1>
    </div>

    <div class="card">
        <div class="card-body">
            <div class="container-fluid">
                <form action="/movements/add" method="post">
                    <div class="row">
                        <div class="col-12 col-md-4 mt-2">
                            <label for="to_warehouse" class="form-label">Armazém de origem</label>
                            <select class="form-control" id="to_warehouse">
                                <option disabled="disabled" selected>Selecione um armazém de partida</option>
                                {% for warehouse in warehouses %}
                                    <option value="{{ warehouse.id }}">{{ warehouse.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-12 col-md-4 mt-2">
                            <label for="from_warehouse" class="form-label">Armazém de destino</label>
                            <select class="form-control" id="from_warehouse">
                                <option disabled="disabled" selected>Selecione um armazém de chegada</option>
                                {% for warehouse in warehouses %}
                                    <option value="{{ warehouse.id }}">{{ warehouse.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-12 col-md-4 mt-2">
                            <label for="type" class="form-label">Tipo de movimento</label>
                            <select class="form-control" id="type">
                                <option disabled="disabled" selected>Selecione um tipo de movimento</option>
                                <option value="transfer">Transferência</option>
                                <option value="devolution">Devolução</option>
                                <option value="breaks">Quebras</option>
                            </select>
                        </div>
                    </div>

                    <div class="row mt-4">
                        <div class="col">
                            <button type="submit" class="btn btn-primary float-end">Submeter</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}