{% extends 'sidebar.html' %}
{% block content %}
    <div class="row">
        <div class="col-xl-6 col-sm-12 col-12">
            <div class="card bg-body-tertiary shadow border-0">
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <span class="h6 font-semibold text-muted text-sm d-block mb-2">Produtos em stock</span>
                            <span class="h3 font-bold mb-0">1.500</span>
                        </div>
                        <div class="col-auto">
                            <i class="bi bi-credit-card"></i>
                        </div>
                    </div>
                    <div class="mt-2 mb-0 text-sm">
                        <span class="badge badge-pill text-success me-2">
                            <i class="bi bi-arrow-up me-1"></i>13%
                        </span>
                        <span class="text-nowrap text-xs text-muted">Desde o último mês</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-6 col-sm-12 col-12">
            <div class="card bg-body-tertiary shadow border-0">
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <span class="h6 font-semibold text-muted text-sm d-block mb-2">Lucro</span>
                            <span class="h3 font-bold mb-0">125.000 €</span>
                        </div>
                        <div class="col-auto">
                            <i class="bi bi-people"></i>
                        </div>
                    </div>
                    <div class="mt-2 mb-0 text-sm">
                        <span class="badge badge-pill bg-soft-success text-success me-2">
                            <i class="bi bi-arrow-up me-1"></i>30%
                        </span>
                        <span class="text-nowrap text-xs text-muted">Desde o último mês</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}