<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Admin Dashboard, ModaLda">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="shortcut icon" href="/static/img/icons/icon-48x48.png"/>

    <title>Home | ModaLda </title>

    <link href="/static/css/dashboard.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap" rel="stylesheet">
</head>

{% extends 'sidebar.html' %}
{% block content %}
    <div class="row d-flex justify-content-center">
        <div class="col-12 col-md-7 d-flex">
            <div class="border border-white-subtle rounded-3">
                <h1 class="h3 mb-3 p-3"><strong>Quicklinks</strong></h1>
                <div class="row m-2">
                    <a href="/users/add" class="btn btn-primary col p-3 m-2">Adicionar Utilizador</a>
                    <a href="/warehouses/add" class="btn btn-primary col p-3 m-2">Adicionar Armazém</a>
                    <a href="/users" class="btn btn-primary col p-3 m-2">Ver Utilizadores</a>
                    <a href="/warehouses" class="btn btn-primary col p-3 m-2">Ver Armazéns</a>
                </div>
                <div class="row m-2">
                    <a href="/products/add" class="btn btn-primary col p-3 m-2">Adicionar Produto</a>
                    <a href="/movements/add" class="btn btn-primary col p-3 m-2">Adicionar Movimento</a>
                    <a href="/products" class="btn btn-primary col p-3 m-2">Ver Produtos</a>
                    <a href="/movements" class="btn btn-primary col p-3 m-2">Ver Movimentos</a>
                </div>
            </div>
        </div>
    </div>

{% endblock %}