<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Admin Dashboard, ModaLda">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="shortcut icon" href="static/img/icons/icon-48x48.png"/>

    <title>Dashboard | ModaLda </title>

    <link href="static/css/dashboard.css" rel="stylesheet">
    <link href="https://cdn.datatables.net/1.13.7/css/jquery.dataTables.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap" rel="stylesheet">
</head>

{% extends 'sidebar.html' %}
{% block content %}
    <div class="row">
        <div class="col float-start">
            <h1 class="h3 mb-3">Utilizadores</h1>
        </div>

        <div class="col">
            <div class="mb-3 float-end">
                <button class="btn btn-primary">Adicionar Utilizador</button>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-body">
            <div class="container-fluid">
                <table id="users">
                    {% for user in all_users %}
                        <tbody>
                            <tr>
                                <td>{{ user.id }}</td>
                                <td>{{ user.username }}</td>
                                <td>{{ user.role }}</td>
                                <td>{{ user.last_login }}</td>
                                <td>
                                    <a class="text-decoration-none" href="/users/{{ user.id }}">
                                        <i class="align-middle" data-feather="search"></i>
                                    </a>
                                    <a class="text-decoration-none" href="/users/edit/{{ user.id }}">
                                        <i class="align-middle text-warning" data-feather="edit"></i>
                                    </a>
                                    <a class="text-decoration-none">
                                        <i class="align-middle text-danger" data-feather="trash-2"></i>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>


    <script src="https://code.jquery.com/jquery-3.7.0.js"></script>
    <script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js"></script>

    <script>
        new DataTable('#users', {
            columns: [
                { title: 'ID' },
                { title: 'Username' },
                { title: 'Função' },
                { title: 'Último Login' },
                { title: 'Ações' }
            ],
            language: {
                url: '//cdn.datatables.net/plug-ins/1.13.7/i18n/pt-PT.json',
            }
        });
    </script>
{% endblock %}